* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 11px;
  scrollbar-width: thin;
}
body::-webkit-scrollbar-track {
  background: #c5c5c5;
}
body::-webkit-scrollbar-thumb {
  background-color: #222858;
}

header {
  background-color: #222858;
  position: relative;
  border-bottom: 1px solid #f7f7f7;
}
header .header-wrapper {
  width: 70%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 16;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
header .header-wrapper #logo {
  padding-top: 5px;
  width: 12vh;
  height: 5.7vh;
}
header .header-wrapper #logo img {
  width: 100%;
}
header .header-wrapper nav {
  padding: 25px 0;
  display: block;
}
header .header-wrapper nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
header .header-wrapper nav ul li a {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 18px;
  transition: 0.4s;
}
header .header-wrapper nav ul li a:hover {
  color: #c5c5c5;
}
header .header-wrapper nav ul li .active-link {
  transition: 0.4s;
  background-color: #c41313;
  color: #f7f7f7;
  padding: 5px 10px;
}
header .header-wrapper .hamburger-menu {
  position: absolute;
  display: none;
  width: 35px;
  right: 0;
  cursor: pointer;
  z-index: 3;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
}
header .header-wrapper .hamburger-menu .hamburger-bar, header .header-wrapper .hamburger-menu::after, header .header-wrapper .hamburger-menu::before {
  content: "";
  width: 100%;
  display: block;
  height: 5px;
  background-color: #f7f7f7;
  margin: 6px 0px;
  transition: 0.4s;
  z-index: 2;
}
header .header-wrapper .menu-active .hamburger-bar {
  opacity: 0;
}
header .header-wrapper .menu-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
header .header-wrapper .menu-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}
header #parent-mobile {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  right: 0;
  width: 70%;
  margin: 0px auto;
}
header #parent-mobile .nav-menu {
  display: none;
  transition: 0.4s;
}
header #parent-mobile .mobile-nav {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: #222858;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 10;
}
header #parent-mobile .mobile-nav ul {
  list-style-type: none;
}
header #parent-mobile .mobile-nav ul li {
  margin-bottom: 20px;
}
header #parent-mobile .mobile-nav ul li a {
  padding: 5px 18px 8px 18px;
  color: #f7f7f7;
  text-decoration: none;
  border-bottom: 1px solid #f7f7f7;
}

main {
  width: 100%;
  width: 70%;
  margin: 0px auto;
}
main .background-wrapper {
  height: 55vh;
  margin-top: 50px;
}
main .background-wrapper #background-image {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
main .background-wrapper #background-image img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  top: 0;
  left: 0;
}
main .background-wrapper #background-image #title {
  color: #f7f7f7;
  position: absolute;
  right: 200px;
  height: 200px;
  text-align: left;
  border-left: 1px solid #f7f7f7;
  padding-left: 35px;
  padding-bottom: 35px;
}
main .background-wrapper #background-image #title h1 {
  font-size: 96px;
  line-height: 1.1;
}
main .background-wrapper #background-image #title h1 .title-dot {
  color: #c41313;
}
main .background-wrapper #background-image #title p {
  font-size: 24px;
  margin-bottom: 20px;
}
main .background-wrapper #background-image #title a {
  font-size: 20px;
  color: #222858;
  text-decoration: none;
  background-color: #f7f7f7;
  padding: 5px 10px;
  transition: 0.3s;
}
main .background-wrapper #background-image #title a:hover {
  background-color: #c41313;
  color: #f7f7f7;
}
main .about-us {
  height: 24em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 120px;
  margin-top: 100px;
}
main .about-us #about-us-img {
  width: 45%;
  position: relative;
}
main .about-us #about-us-img img {
  width: 100%;
}
main .about-us #about-us-img .second-img {
  display: none;
  position: absolute;
}
main .about-us #about-us-text {
  width: 45%;
  color: #222858;
}
main .about-us #about-us-text h1 {
  font-size: 45px;
  margin-bottom: 5px;
}
main .about-us #about-us-text p {
  font-size: 21px;
}
main .about-us #about-us-text .margin-p {
  margin-top: 30px;
}
main .about-us #about-us-text a {
  display: inline-block;
  text-decoration: none;
  color: #f7f7f7;
  background-color: #c41313;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: 10px;
  transition: 0.3s;
}
main .about-us #about-us-text a:hover {
  background-color: #222858;
}
main .counting-wrapper .counting-title {
  width: 100%;
  text-align: center;
}
main .counting-wrapper .counting-title h2 {
  font-size: 38px;
  color: #222858;
}
main .counting-wrapper .counting-content {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  gap: 1%;
}
main .counting-wrapper .counting-content .counting-stats {
  background-color: #222858;
  width: 95%;
  height: 30vmin;
  color: #f7f7f7;
  border-bottom: 10px solid #c41313;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em 0em;
  position: relative;
  font-size: 20px;
  z-index: 0;
}
main .counting-wrapper .counting-content .counting-stats i {
  font-size: 2.7em;
  color: #c41313;
}
main .counting-wrapper .counting-content .counting-stats .number-stats {
  display: grid;
  place-items: center;
  font-size: 3em;
  font-weight: 600;
}
main .counting-wrapper .counting-content .counting-stats .text-stats {
  font-size: 1.2em;
  color: #c5c5c5;
}
main .recommended-flights-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
main .recommended-flights-wrapper .recommended-title {
  text-align: center;
  margin-bottom: 25px;
}
main .recommended-flights-wrapper .recommended-title h2 {
  font-size: 40px;
  margin-bottom: 25px;
  color: #222858;
}
main .recommended-flights-wrapper .recommended-title .filter-recommended {
  display: flex;
  justify-content: center;
  gap: 5%;
  font-size: 18px;
}
main .recommended-flights-wrapper .recommended-title .filter-recommended #filterSelect {
  border: 1px solid #222858;
  background-color: #222858;
  color: #f7f7f7;
  font-size: 18px;
  padding: 3px;
}
main .recommended-flights-wrapper .recommended-content {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  margin-top: 20px;
}
main .recommended-flights-wrapper .recommended-content .recommended-card {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.4s;
  display: none;
  text-align: left;
}
main .recommended-flights-wrapper .recommended-content .recommended-card .img-card {
  width: 100%;
}
main .recommended-flights-wrapper .recommended-content .recommended-card .img-card img {
  width: 100%;
  filter: blur(1px);
  transition: 0.4s;
}
main .recommended-flights-wrapper .recommended-content .recommended-card .content-card {
  width: 100%;
  background-color: #222858;
  color: #f7f7f7;
  padding: 20px;
  padding-bottom: 30px;
  font-size: 18px;
}
main .recommended-flights-wrapper .recommended-content .recommended-card:hover {
  transform: scale(1.1);
  box-shadow: rgba(34, 40, 88, 0.6) 0px 5px 15px;
}
main .recommended-flights-wrapper .recommended-content .recommended-card:hover .img-card img {
  filter: blur(0);
}
main .recommended-flights-wrapper .recommended-content .show-card {
  display: block;
}
main .testimonial-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
main .testimonial-wrapper .testimonial-title {
  text-align: center;
}
main .testimonial-wrapper .testimonial-title h2 {
  font-size: 40px;
  color: #222858;
}
main .testimonial-wrapper .testimonial-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
main .testimonial-wrapper .testimonial-content .passenger-content {
  position: relative;
  height: 350px;
  background-color: #9b0d0d;
  width: 100%;
  color: #f7f7f7;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.4s;
}
main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text {
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text i {
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 20px;
  color: #222858;
}
main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text span {
  display: block;
  font-size: 13px;
  margin-top: 50px;
  font-weight: 600;
  text-transform: uppercase;
  color: #222858;
}
main .testimonial-wrapper .testimonial-content .passenger-content .active-text {
  display: block;
}
main .testimonial-wrapper .testimonial-content .passenger-icons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 55px;
  height: 55px;
}
main .testimonial-wrapper .testimonial-content .passenger-icons img {
  width: 100%;
  height: 100%;
  padding: 2px;
  border-radius: 100%;
  margin: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
main .testimonial-wrapper .testimonial-content .active-icon {
  border: 3px solid #9b0d0d;
}
main .contact-wrapper {
  display: grid;
}
main .contact-wrapper .contact-title {
  width: 100%;
  grid-column: 1/3;
  text-align: center;
  margin-top: 30px;
}
main .contact-wrapper .contact-title h1 {
  font-size: 2.2vw;
  color: #222858;
}
main .contact-wrapper .contact-content {
  grid-column: 1/3;
  display: flex;
  margin-top: 30px;
  width: 100%;
  font-size: 1.3vw;
}
main .contact-wrapper .contact-content .contact-form {
  width: 60%;
  background-color: #222858;
  color: #f7f7f7;
  padding: 40px;
}
main .contact-wrapper .contact-content .contact-form .form-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
main .contact-wrapper .contact-content .contact-form .form-div input {
  padding: 8px 20px;
  background-color: #222858;
  border: 1px solid #f7f7f7;
  color: #f7f7f7;
  font-size: 1.3vw;
}
main .contact-wrapper .contact-content .contact-form .form-div span {
  display: none;
  color: #c41313;
  margin-top: 5px;
  font-size: 13px;
}
main .contact-wrapper .contact-content .contact-form .form-div .red-border {
  border: 1px solid #c41313;
}
main .contact-wrapper .contact-content .contact-form .form-div #btnForm {
  cursor: pointer;
  transition: 0.4s;
  background-color: #222858;
  border: 1px solid #f7f7f7;
  color: #f7f7f7;
  font-size: 16px;
}
main .contact-wrapper .contact-content .contact-form .form-div #btnForm:hover {
  background-color: #f7f7f7;
  color: #222858;
}
main .contact-wrapper .contact-content .contact-form .form-div .btnSuccess {
  display: none;
  margin-top: 10px;
  border: 1px solid #01b10f;
  color: #01b10f;
  padding: 5px;
  text-align: center;
}
main .contact-wrapper .contact-content .contact-form .form-div .showError {
  transition: 0.4s;
  display: block;
}
main .contact-wrapper .contact-content .contact-form .form-div #radio-buttons label {
  margin-left: 10px;
}
main .contact-wrapper .contact-content .contact-form .form-div #check-boxes label {
  margin-left: 10px;
}
main .contact-wrapper .contact-content .contact-form .form-div .label-main {
  margin-bottom: 10px;
}
main .contact-wrapper .contact-content .contact-form .form-div #ddl #ddlForm {
  border: 1px solid #f7f7f7;
  color: #222858;
  font-size: 1.3vw;
  padding: 3px;
  margin-left: 10px;
}
main .contact-wrapper .contact-content .contact-form .hide-margin {
  margin: 0;
}
main .contact-wrapper .contact-content .contact-map {
  width: 40%;
}
main .contact-wrapper .contact-content .contact-map iframe {
  width: 100%;
  height: 100%;
  opacity: 50%;
  transition: 0.4s;
}
main .contact-wrapper .contact-content .contact-map iframe:hover {
  opacity: 100%;
}
main #author-wrapper {
  font-size: 1.8vw;
}
main #author-wrapper .author-title {
  width: 100%;
  text-align: center;
}
main #author-wrapper .author-title h1 {
  font-size: 3vw;
  color: #222858;
  margin-top: 30px;
  margin-bottom: 50px;
}
main #author-wrapper .author-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
main #author-wrapper .author-content .author-img {
  width: 35%;
}
main #author-wrapper .author-content .author-img img {
  width: 100%;
}
main #author-wrapper .author-content .author-text {
  width: 50%;
  text-align: left;
}
main #author-wrapper .author-content .author-text span {
  color: #9b0d0d;
}
main #about-us-wrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
main #about-us-wrapper .about-us-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #about-us-wrapper .about-us-history #about-us-title {
  margin-top: 30px;
  margin-bottom: 40px;
  color: #222858;
  font-size: 1.3vw;
  text-align: center;
}
main #about-us-wrapper .about-us-history .about-us-description {
  background-color: #222858;
  padding: 40px;
}
main #about-us-wrapper .about-us-history .about-us-description p {
  color: #f7f7f7;
  font-size: 1.3vw;
}
main #about-us-wrapper .about-us-history .about-us-description p span {
  color: #c41313;
  font-size: 2vw;
}
main #about-us-wrapper .about-us-history .about-us-description #added-about-us {
  display: none;
}
main #about-us-wrapper .about-us-history .about-us-description a {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f7f7f7;
  color: #9b0d0d;
  transition: 0.4s;
}
main #about-us-wrapper .about-us-history .about-us-description a:hover {
  cursor: pointer;
  background-color: #9b0d0d;
  color: #f7f7f7;
}
main #about-us-wrapper .about-us-our-airplanes {
  width: 100%;
  text-align: center;
}
main #about-us-wrapper .about-us-our-airplanes h2 {
  color: #222858;
  font-size: 2.4vw;
}
main #about-us-wrapper .slider {
  width: 100%;
}
main #about-us-wrapper .slider img {
  width: 100%;
}
main .modal {
  display: block;
}
main .darkscale {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}
main .hideModal {
  display: none;
}
main .modal_timer {
  padding-top: 30px;
  width: 60vw;
  height: 60vh;
  border: 1px solid #222858;
  background-image: url(../img/modal-background.jpg);
  background-position: center;
  background-size: cover;
  color: #f7f7f7;
  border: 1px solid #f7f7f7;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  display: none;
}
main .modal_timer #modal-close {
  margin: 0 40px 10px auto;
  display: block;
  background-color: transparent;
  font-size: 40px;
  color: #c5c5c5;
  border: none;
  outline: none;
  cursor: pointer;
}
main .modal_timer h2 {
  font-size: 3.2vw;
  text-transform: uppercase;
}
main .modal_timer span {
  font-size: 5vw;
  font-weight: 700;
  color: #c41313;
}
main .modal_timer a {
  margin-top: 20px;
  padding: 10px 40px;
  text-decoration: none;
  background-color: #f7f7f7;
  font-size: 20px;
  transition: 0.4s;
  color: #9b0d0d;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
main .modal_timer a:hover {
  color: #f7f7f7;
  background-color: #9b0d0d;
}
main .showModalTimer {
  display: flex;
}
main .hideModalTimer {
  display: none;
}
main .scroll-to-top {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  display: none;
  text-align: center;
  cursor: pointer;
}
main .scroll-to-top .scroll-to-top-btn {
  border: 1px solid #c41313;
  padding: 5px;
  color: #c41313;
  font-size: 2.5vw;
}

footer {
  background-color: #222858;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  padding: 50px;
  padding-bottom: 60px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
footer .footer-wrapper {
  width: 70%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
footer .footer-wrapper .footer-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-wrapper .footer-left h3 {
  color: #f7f7f7;
  font-size: 36px;
  margin: 0;
}
footer .footer-wrapper .footer-left h3 span {
  color: #9b0d0d;
}
footer .footer-wrapper .footer-left .footer-links {
  margin: 20px 0;
}
footer .footer-wrapper .footer-left .footer-links ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
footer .footer-wrapper .footer-left .footer-links ul li a {
  text-decoration: none;
  color: #f7f7f7;
  line-height: 1.8;
}
footer .footer-wrapper .footer-left .footer-links ul li a:hover {
  color: #9b0d0d;
}
footer .footer-wrapper .footer-left .footer-copyright {
  color: #c5c5c5;
  font-size: 14px;
}
footer .footer-wrapper .footer-center {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-wrapper .footer-center .footer-center-content {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
footer .footer-wrapper .footer-center .footer-center-content i {
  color: #9b0d0d;
  font-size: 18px;
}
footer .footer-wrapper .footer-center .footer-center-content p a {
  text-decoration: none;
  color: #c5c5c5;
  font-size: 14px;
}
footer .footer-wrapper .footer-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-wrapper .footer-right .footer-about {
  line-height: 20px;
  color: #c5c5c5;
  font-size: 13px;
  text-align: center;
}
footer .footer-wrapper .footer-right .footer-about p span {
  display: block;
  color: #9b0d0d;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer .footer-wrapper .footer-right .footer-social {
  margin-top: 25px;
}
footer .footer-wrapper .footer-right .footer-social ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
footer .footer-wrapper .footer-right .footer-social ul li a {
  text-align: center;
  text-decoration: none;
}
footer .footer-wrapper .footer-right .footer-social ul li a i {
  cursor: pointer;
  color: #f7f7f7;
  transition: 0.4s;
  font-size: 25px;
}
footer .footer-wrapper .footer-right .footer-social ul li a i:hover {
  color: #9b0d0d;
}

@media screen and (max-width: 1602px) {
  header .header-wrapper #logo {
    padding-top: 6px;
    width: 12%;
    height: 20%;
  }
  main .background-wrapper #background-image #title {
    right: 100px;
    height: 100px;
    text-align: left;
    padding-bottom: 160px;
  }
  main .background-wrapper #background-image #title h1 {
    font-size: 60px;
  }
  main .background-wrapper #background-image #title p {
    font-size: 20px;
  }
  main .about-us {
    height: 24em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  main .about-us #about-us-img {
    width: 48%;
    display: flex;
    justify-content: center;
  }
  main .about-us #about-us-img img {
    width: 100%;
  }
  main .about-us #about-us-text {
    flex-wrap: wrap;
  }
  main .about-us #about-us-text h1 {
    font-size: 3vw;
    margin-bottom: 5px;
  }
  main .about-us #about-us-text p {
    font-size: 1.5vw;
  }
  main .about-us #about-us-text .margin-p {
    margin-top: 30px;
  }
  main .about-us #about-us-text a {
    font-size: 1.5vw;
  }
  main .counting-wrapper .counting-title h2 {
    font-size: 2.8vw;
  }
  main .counting-wrapper .counting-content {
    margin-top: 40px;
    gap: 1%;
  }
  main .counting-wrapper .counting-content .counting-stats {
    background-color: #222858;
    width: 95%;
    height: 18.8vw;
    color: #f7f7f7;
  }
  main .counting-wrapper .counting-content .counting-stats i {
    font-size: 3.5vw;
    color: #c41313;
  }
  main .counting-wrapper .counting-content .counting-stats .number-stats {
    display: grid;
    place-items: center;
    font-size: 4vw;
    font-weight: 600;
  }
  main .counting-wrapper .counting-content .counting-stats .text-stats {
    font-size: 1.5vw;
    color: #c5c5c5;
  }
  main .recommended-flights-wrapper {
    margin-top: 100px;
  }
  main .recommended-flights-wrapper .recommended-title {
    margin-bottom: 25px;
  }
  main .recommended-flights-wrapper .recommended-title h2 {
    font-size: 2.8vw;
    margin-bottom: 25px;
  }
  main .recommended-flights-wrapper .recommended-title .filter-recommended {
    gap: 5%;
    font-size: 1.3vw;
  }
  main .recommended-flights-wrapper .recommended-title .filter-recommended #filterSelect {
    font-size: 1.3vw;
  }
  main .recommended-flights-wrapper .recommended-content .recommended-card .content-card {
    padding-bottom: 25px;
    font-size: 1.2vw;
  }
  main .testimonial-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  main .testimonial-wrapper .testimonial-title h2 {
    font-size: 2.8vw;
    color: #222858;
  }
  main .testimonial-wrapper .testimonial-content {
    width: 80%;
    margin-top: 30px;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content {
    height: 350px;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text {
    font-size: 1.2vw;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text i {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 5px;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text span {
    font-size: 13px;
    margin-top: 40px;
  }
  footer {
    background-color: #222858;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding: 50px;
    padding-bottom: 60px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }
  footer .footer-wrapper {
    width: 70%;
    margin: 0px auto;
    display: flex;
  }
  footer .footer-wrapper .footer-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer-wrapper .footer-left h3 {
    color: #f7f7f7;
    font-size: 36px;
    margin: 0;
  }
  footer .footer-wrapper .footer-left h3 span {
    color: #9b0d0d;
  }
  footer .footer-wrapper .footer-left .footer-links {
    margin: 20px 0;
  }
  footer .footer-wrapper .footer-left .footer-links ul {
    display: flex;
    gap: 10px;
  }
  footer .footer-wrapper .footer-left .footer-links ul li a {
    font-size: 1vw;
    line-height: 1.8;
  }
  footer .footer-wrapper .footer-left .footer-copyright {
    color: #c5c5c5;
    font-size: 12px;
  }
  footer .footer-wrapper .footer-center {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer-wrapper .footer-center .footer-center-content {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  footer .footer-wrapper .footer-center .footer-center-content i {
    color: #9b0d0d;
    font-size: 18px;
  }
  footer .footer-wrapper .footer-center .footer-center-content p a {
    text-decoration: none;
    color: #c5c5c5;
    font-size: 14px;
  }
  footer .footer-wrapper .footer-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer-wrapper .footer-right .footer-about {
    line-height: 20px;
    color: #c5c5c5;
    font-size: 13px;
    text-align: right;
  }
  footer .footer-wrapper .footer-right .footer-about p span {
    display: block;
    color: #9b0d0d;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  footer .footer-wrapper .footer-right .footer-social {
    margin-top: 25px;
  }
  footer .footer-wrapper .footer-right .footer-social ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
  }
  footer .footer-wrapper .footer-right .footer-social ul li a {
    text-align: center;
    text-decoration: none;
  }
  footer .footer-wrapper .footer-right .footer-social ul li a i {
    cursor: pointer;
    color: #f7f7f7;
    transition: 0.4s;
    font-size: 25px;
  }
  footer .footer-wrapper .footer-right .footer-social ul li a i:hover {
    color: #9b0d0d;
  }
}
@media screen and (max-width: 1200px) {
  header .header-wrapper #logo {
    width: 10vw;
  }
  main .background-wrapper #background-image #title {
    right: 50px;
    padding-bottom: 150px;
  }
  main .background-wrapper #background-image #title h1 {
    font-size: 50px;
  }
  main .background-wrapper #background-image #title p {
    font-size: 20px;
  }
  main .counting-wrapper .counting-title h2 {
    font-size: 3vw;
  }
  main .counting-wrapper .counting-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 10%;
  }
  main .counting-wrapper .counting-content .counting-stats {
    width: 70%;
    align-self: baseline;
    height: 18.8vw;
    padding: 20px;
    height: 40vmin;
  }
  main .counting-wrapper .counting-content .counting-stats i {
    font-size: 4.5vw;
  }
  main .counting-wrapper .counting-content .counting-stats .number-stats {
    font-size: 4.5vw;
    font-weight: 600;
  }
  main .counting-wrapper .counting-content .counting-stats .text-stats {
    font-size: 2vw;
  }
  main .recommended-flights-wrapper .recommended-title h2 {
    font-size: 3vw;
  }
  main .recommended-flights-wrapper .recommended-title .filter-recommended {
    font-size: 1.6vw;
  }
  main .recommended-flights-wrapper .recommended-title .filter-recommended #filterSelect {
    font-size: 1.6vw;
  }
  main .recommended-flights-wrapper .recommended-content {
    grid-template-columns: repeat(2, 1fr);
  }
  main .recommended-flights-wrapper .recommended-content .recommended-card .content-card {
    padding-bottom: 30px;
    font-size: 1.7vw;
  }
  main .testimonial-wrapper .testimonial-title h2 {
    font-size: 3vw;
    color: #222858;
  }
  main .testimonial-wrapper .testimonial-content {
    width: 95%;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text {
    font-size: 1.5vw;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text i {
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text span {
    font-size: 16px;
    margin-top: 25px;
  }
  footer {
    font-size: 16px;
    font-weight: bold;
    padding: 40px;
    padding-bottom: 60px;
    margin-top: 80px;
  }
  footer .footer-wrapper {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
  }
  footer .footer-wrapper .footer-left {
    width: 60%;
  }
  footer .footer-wrapper .footer-left h3 {
    font-size: 2vw;
  }
  footer .footer-wrapper .footer-left .footer-links {
    margin: 20px 0;
  }
  footer .footer-wrapper .footer-left .footer-links ul {
    gap: 10px;
  }
  footer .footer-wrapper .footer-left .footer-links ul li a {
    font-size: 1vw;
    line-height: 1.8;
  }
  footer .footer-wrapper .footer-left .footer-copyright {
    font-size: 0.8vw;
  }
  footer .footer-wrapper .footer-center {
    width: 40%;
  }
  footer .footer-wrapper .footer-center .footer-center-content {
    margin-top: 10px;
    gap: 10px;
  }
  footer .footer-wrapper .footer-center .footer-center-content i {
    font-size: 15px;
  }
  footer .footer-wrapper .footer-center .footer-center-content p a {
    font-size: 1vw;
  }
  footer .footer-wrapper .footer-right {
    width: 70%;
    grid-column: 1/3;
    margin-top: 20px;
  }
  footer .footer-wrapper .footer-right .footer-about {
    line-height: 20px;
    font-size: 13px;
    text-align: center;
  }
}
@media screen and (max-width: 950px) {
  header .header-wrapper #logo {
    width: 11vw;
  }
  main .background-wrapper #background-image {
    background-color: #181f54;
    justify-content: center;
    align-items: center;
    height: 250px;
  }
  main .background-wrapper #background-image img {
    display: none;
  }
  main .background-wrapper #background-image #title {
    border: none;
    height: auto;
    padding: 20px;
    margin-top: 10px;
    right: auto;
    text-align: center;
  }
  main .background-wrapper #background-image #title h1 {
    padding-bottom: 10px;
  }
  main .background-wrapper #background-image #title p {
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 15px;
  }
  main .about-us {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  main .about-us #about-us-img {
    width: 48%;
    display: flex;
    justify-content: center;
  }
  main .about-us #about-us-img img {
    width: 100%;
  }
  main .about-us #about-us-text {
    flex-wrap: wrap;
  }
  main .about-us #about-us-text h1 {
    font-size: 3vw;
    margin-bottom: 5px;
  }
  main .about-us #about-us-text p {
    font-size: 1.5vw;
  }
  main .about-us #about-us-text .margin-p {
    margin-top: 30px;
  }
  main .about-us #about-us-text a {
    font-size: 1.5vw;
  }
  main .counting-wrapper .counting-title h2 {
    font-size: 3vw;
  }
  main .counting-wrapper .counting-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 10%;
  }
  main .counting-wrapper .counting-content .counting-stats {
    width: 80%;
    align-self: baseline;
    height: 18.8vw;
    padding: 20px;
    height: 40vmin;
  }
  main .counting-wrapper .counting-content .counting-stats i {
    font-size: 5vw;
  }
  main .counting-wrapper .counting-content .counting-stats .number-stats {
    font-size: 5vw;
    font-weight: 600;
  }
  main .counting-wrapper .counting-content .counting-stats .text-stats {
    font-size: 2.1vw;
  }
  main .recommended-flights-wrapper .recommended-title h2 {
    font-size: 3vw;
  }
  main .recommended-flights-wrapper .recommended-title .filter-recommended {
    font-size: 1.8vw;
  }
  main .recommended-flights-wrapper .recommended-title .filter-recommended #filterSelect {
    font-size: 1.6vw;
  }
  main .recommended-flights-wrapper .recommended-content {
    grid-template-columns: repeat(2, 1fr);
  }
  main .recommended-flights-wrapper .recommended-content .recommended-card .content-card {
    height: 17.5vh;
    padding-top: 30px;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.7vw;
  }
  main .testimonial-wrapper .testimonial-title h2 {
    font-size: 3vw;
  }
  main .testimonial-wrapper .testimonial-content {
    width: 100%;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content {
    height: 300px;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text {
    width: 85%;
    font-size: 1.5vw;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text i {
    font-size: 35px;
    margin-bottom: 20px;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text span {
    font-size: 16px;
    margin-top: 25px;
  }
  footer {
    font-size: 16px;
    padding: 40px;
    margin-top: 80px;
  }
  footer .footer-wrapper {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
  }
  footer .footer-wrapper .footer-left {
    width: 100%;
  }
  footer .footer-wrapper .footer-left h3 {
    font-size: 2.5vw;
  }
  footer .footer-wrapper .footer-left .footer-links {
    margin: 10px 0px 20px 0px;
  }
  footer .footer-wrapper .footer-left .footer-links ul {
    gap: 5px;
  }
  footer .footer-wrapper .footer-left .footer-links ul li a {
    font-size: 1.3vw;
    line-height: 1.8;
  }
  footer .footer-wrapper .footer-left .footer-copyright {
    text-align: center;
    font-size: 1.2vw;
  }
  footer .footer-wrapper .footer-center {
    width: 100%;
  }
  footer .footer-wrapper .footer-center .footer-center-content {
    margin-top: 10px;
    gap: 10px;
  }
  footer .footer-wrapper .footer-center .footer-center-content i {
    font-size: 15px;
  }
  footer .footer-wrapper .footer-center .footer-center-content p a {
    font-size: 1.3vw;
  }
  footer .footer-wrapper .footer-right {
    width: 70%;
    grid-column: 1/3;
    margin-top: 35px;
  }
  footer .footer-wrapper .footer-right .footer-about {
    line-height: 20px;
    font-size: 13px;
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  main .contact-wrapper .contact-title {
    width: 100%;
    grid-column: 1/3;
    text-align: center;
    margin-top: 30px;
  }
  main .contact-wrapper .contact-title h1 {
    font-size: 4vw;
    color: #222858;
  }
  main .contact-wrapper .contact-content {
    flex-direction: column;
    font-size: 1.9vw;
  }
  main .contact-wrapper .contact-content .contact-form {
    width: 100%;
    padding: 40px;
  }
  main .contact-wrapper .contact-content .contact-form .form-div input {
    font-size: 1.8vw;
  }
  main .contact-wrapper .contact-content .contact-form .form-div span {
    margin-top: 5px;
    font-size: 12px;
  }
  main .contact-wrapper .contact-content .contact-form .form-div #btnForm {
    font-size: 18px;
  }
  main .contact-wrapper .contact-content .contact-form .form-div #ddl #ddlForm {
    font-size: 2vw;
    padding: 3px;
    margin-left: 10px;
  }
  main .contact-wrapper .contact-content .contact-map {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 250px;
  }
  main #about-us-wrapper {
    gap: 35px;
  }
  main #about-us-wrapper .about-us-history #about-us-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2vw;
    text-align: center;
  }
  main #about-us-wrapper .about-us-history .about-us-description {
    background-color: #222858;
    padding: 20px;
  }
  main #about-us-wrapper .about-us-history .about-us-description p {
    color: #f7f7f7;
    font-size: 1.8vw;
  }
  main #about-us-wrapper .about-us-history .about-us-description p span {
    color: #c41313;
    font-size: 2vw;
  }
  main #about-us-wrapper .about-us-history .about-us-description a {
    font-size: 14px;
    margin-top: 20px;
    padding: 5px;
  }
  main #about-us-wrapper .about-us-our-airplanes {
    width: 100%;
    text-align: center;
  }
  main #about-us-wrapper .about-us-our-airplanes h2 {
    font-size: 4vw;
  }
  main #about-us-wrapper .slider {
    width: 100%;
  }
  main #about-us-wrapper .slider img {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  header {
    padding: 10px 0px;
  }
  header .header-wrapper #logo {
    width: 16vw;
  }
  header .header-wrapper nav {
    display: none;
  }
  header .header-wrapper .hamburger-menu {
    display: block;
    z-index: 120;
  }
  header .header-wrapper .hamburger-menu .hamburger-bar, header .header-wrapper .hamburger-menu::after, header .header-wrapper .hamburger-menu::before {
    display: block;
  }
  header #parent-mobile {
    z-index: 10;
    right: 0;
  }
  header #parent-mobile .mobile-nav {
    width: 55%;
    z-index: 10;
  }
  header #parent-mobile .mobile-nav ul li {
    margin-bottom: 20px;
  }
  header #parent-mobile .mobile-nav ul li a {
    padding: 5px 18px 8px 18px;
  }
  main .about-us {
    height: 50vh;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  main .about-us #about-us-img {
    width: 50%;
  }
  main .about-us #about-us-img img {
    width: 100%;
  }
  main .about-us #about-us-text {
    flex-wrap: wrap;
  }
  main .about-us #about-us-text h1 {
    font-size: 2.5vw;
    margin-bottom: 5px;
  }
  main .about-us #about-us-text p {
    font-size: 1.5vw;
  }
  main .about-us #about-us-text .margin-p {
    margin-top: 10px;
  }
  main .about-us #about-us-text a {
    font-size: 1.2vw;
    padding: 3px 5px;
  }
  main .counting-wrapper .counting-title h2 {
    font-size: 3vw;
  }
  main .counting-wrapper .counting-content {
    row-gap: 10%;
  }
  main .counting-wrapper .counting-content .counting-stats {
    width: 80%;
    align-self: baseline;
    height: 18.8vw;
    padding: 10px;
    height: 35vmin;
  }
  main .counting-wrapper .counting-content .counting-stats i {
    font-size: 6vw;
  }
  main .counting-wrapper .counting-content .counting-stats .number-stats {
    font-size: 6vw;
    font-weight: 600;
  }
  main .counting-wrapper .counting-content .counting-stats .text-stats {
    font-size: 2.3vw;
  }
  main .recommended-flights-wrapper .recommended-title h2 {
    font-size: 3vw;
  }
  main .recommended-flights-wrapper .recommended-title .filter-recommended {
    font-size: 1.8vw;
  }
  main .recommended-flights-wrapper .recommended-title .filter-recommended #filterSelect {
    font-size: 1.6vw;
  }
  main .recommended-flights-wrapper .recommended-content .recommended-card .content-card {
    padding: 0;
    height: auto;
    padding: 15px;
    font-size: 1.7vw;
  }
  main .testimonial-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  main .testimonial-wrapper .testimonial-title {
    text-align: center;
  }
  main .testimonial-wrapper .testimonial-title h2 {
    font-size: 5vw;
    color: #222858;
  }
  main .testimonial-wrapper .testimonial-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content {
    height: 300px;
    width: 100%;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text {
    width: 85%;
    font-size: 2vw;
    line-height: 25px;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text i {
    font-size: 35px;
    margin-bottom: 20px;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text span {
    font-size: 12px;
    margin-top: 25px;
  }
  main .testimonial-wrapper .testimonial-content .passenger-icons {
    margin-top: 30px;
    width: 48px;
    height: 48px;
  }
  main .modal_timer {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 35px;
    width: 80vw;
    height: auto;
  }
  main .modal_timer #modal-close {
    margin: 0 20px 10px auto;
    font-size: 40px;
  }
  main .modal_timer h2 {
    font-size: 3.8vw;
  }
  main .modal_timer span {
    font-size: 6vw;
  }
  main .modal_timer a {
    margin-top: 20px;
    padding: 5px 20px;
    font-size: 20px;
  }
  main .scroll-to-top .scroll-to-top-btn {
    border: 1px solid #c41313;
    padding: 5px;
    color: #c41313;
    font-size: 4.2vw;
  }
  footer {
    font-size: 16px;
    padding: 30px;
    margin-top: 80px;
  }
  footer .footer-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  footer .footer-wrapper .footer-left {
    width: 100%;
  }
  footer .footer-wrapper .footer-left h3 {
    font-size: 3.3vw;
  }
  footer .footer-wrapper .footer-left .footer-links {
    margin: 10px 0px 20px 0px;
  }
  footer .footer-wrapper .footer-left .footer-links ul {
    gap: 5px;
  }
  footer .footer-wrapper .footer-left .footer-links ul li a {
    font-size: 1.7vw;
    line-height: 1.8;
  }
  footer .footer-wrapper .footer-left .footer-copyright {
    text-align: center;
    font-size: 1.5vw;
  }
  footer .footer-wrapper .footer-center {
    width: 100%;
  }
  footer .footer-wrapper .footer-center .footer-center-content {
    margin-top: 10px;
    gap: 10px;
  }
  footer .footer-wrapper .footer-center .footer-center-content i {
    font-size: 13px;
  }
  footer .footer-wrapper .footer-center .footer-center-content p a {
    font-size: 1.8vw;
  }
  footer .footer-wrapper .footer-right {
    width: 90%;
    margin-top: 35px;
  }
  footer .footer-wrapper .footer-right .footer-about {
    line-height: 20px;
    text-align: center;
  }
  footer .footer-wrapper .footer-right .footer-about p {
    font-size: 2vw;
  }
  footer .footer-wrapper .footer-right .footer-about p span {
    font-size: 2.7vw;
  }
}
@media screen and (max-width: 470px) {
  header .header-wrapper #logo {
    width: 24vw;
  }
  header #parent-mobile .mobile-nav {
    width: 58%;
  }
  main .background-wrapper {
    height: auto;
  }
  main .background-wrapper #background-image {
    height: 220px;
  }
  main .background-wrapper #background-image #title {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
  }
  main .background-wrapper #background-image #title h1 {
    padding-bottom: 10px;
    font-size: 10vw;
  }
  main .background-wrapper #background-image #title p {
    font-size: 4vw;
  }
  main .background-wrapper #background-image #title a {
    font-size: 4.3vw;
  }
  main .about-us {
    height: auto;
    gap: 40px;
    margin-bottom: 0px;
    margin-top: 30px;
    flex-direction: column;
  }
  main .about-us #about-us-img {
    width: 95%;
  }
  main .about-us #about-us-img img {
    width: 100%;
  }
  main .about-us #about-us-text {
    text-align: center;
    width: 100%;
  }
  main .about-us #about-us-text h1 {
    font-size: 5.8vw;
    margin-bottom: 15px;
  }
  main .about-us #about-us-text p {
    font-size: 3vw;
  }
  main .about-us #about-us-text .margin-p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  main .about-us #about-us-text a {
    font-size: 3.2vw;
    padding: 5px 10px;
  }
  main .counting-wrapper {
    margin-top: 60px;
  }
  main .counting-wrapper .counting-title h2 {
    font-size: 5vw;
  }
  main .counting-wrapper .counting-content {
    row-gap: 6%;
    grid-template-columns: 1fr;
  }
  main .counting-wrapper .counting-content .counting-stats {
    width: 60%;
    padding: 10px;
    height: 42vmin;
  }
  main .counting-wrapper .counting-content .counting-stats i {
    font-size: 8vw;
  }
  main .counting-wrapper .counting-content .counting-stats .number-stats {
    font-size: 7.8vw;
    font-weight: 600;
  }
  main .counting-wrapper .counting-content .counting-stats .text-stats {
    font-size: 3vw;
  }
  main .recommended-flights-wrapper {
    margin-top: 190px;
  }
  main .recommended-flights-wrapper .recommended-title h2 {
    font-size: 5.5vw;
  }
  main .recommended-flights-wrapper .recommended-title .filter-recommended {
    font-size: 2.8vw;
  }
  main .recommended-flights-wrapper .recommended-title .filter-recommended #filterSelect {
    font-size: 2.3vw;
  }
  main .recommended-flights-wrapper .recommended-content {
    grid-template-columns: 1fr;
  }
  main .recommended-flights-wrapper .recommended-content .recommended-card .content-card {
    font-size: 3vw;
  }
  main .testimonial-wrapper {
    margin-top: 60px;
    margin-bottom: 80px;
  }
  main .testimonial-wrapper .testimonial-title {
    text-align: center;
  }
  main .testimonial-wrapper .testimonial-title h2 {
    font-size: 6vw;
    color: #222858;
  }
  main .testimonial-wrapper .testimonial-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content {
    position: relative;
    height: 220px;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text {
    width: 85%;
    font-size: 2vw;
    line-height: 18px;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text i {
    font-size: 23px;
    margin-bottom: 20px;
  }
  main .testimonial-wrapper .testimonial-content .passenger-content .passenger-text span {
    font-size: 10px;
    margin-top: 25px;
  }
  main .testimonial-wrapper .testimonial-content .passenger-icons {
    margin-top: 15px;
    width: 45px;
    height: 45px;
  }
  main .modal_timer {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 35px;
    width: 80vw;
    height: auto;
  }
  main .modal_timer #modal-close {
    margin: 0 20px 10px auto;
    font-size: 40px;
  }
  main .modal_timer h2 {
    font-size: 3.8vw;
  }
  main .modal_timer span {
    font-size: 6vw;
  }
  main .modal_timer a {
    margin-top: 20px;
    padding: 5px 20px;
    font-size: 20px;
  }
  main .scroll-to-top {
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 99;
    display: none;
    text-align: center;
    cursor: pointer;
  }
  main .scroll-to-top .scroll-to-top-btn {
    border: 1px solid #c41313;
    padding: 5px;
    color: #c41313;
    font-size: 6vw;
  }
  main .modal_timer {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 30px;
    width: 85vw;
    height: auto;
  }
  main .modal_timer #modal-close {
    margin: 0 20px 10px auto;
    font-size: 40px;
  }
  main .modal_timer h2 {
    font-size: 5vw;
    margin-bottom: 10px;
  }
  main .modal_timer span {
    font-size: 8vw;
  }
  main .modal_timer a {
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 15px;
  }
  main .contact-wrapper .contact-title {
    width: 100%;
    grid-column: 1/3;
    text-align: center;
    margin-top: 30px;
  }
  main .contact-wrapper .contact-title h1 {
    font-size: 4vw;
    color: #222858;
  }
  main .contact-wrapper .contact-content {
    flex-direction: column;
    font-size: 1.9vw;
  }
  main .contact-wrapper .contact-content .contact-form {
    width: 100%;
    padding: 30px;
  }
  main .contact-wrapper .contact-content .contact-form .form-div input {
    font-size: 1.8vw;
  }
  main .contact-wrapper .contact-content .contact-form .form-div span {
    margin-top: 5px;
    font-size: 12px;
  }
  main .contact-wrapper .contact-content .contact-form .form-div #btnForm {
    font-size: 12px;
  }
  main .contact-wrapper .contact-content .contact-form .form-div #ddl #ddlForm {
    font-size: 2vw;
    padding: 3px;
    margin-left: 10px;
  }
  main .contact-wrapper .contact-content .contact-map {
    margin-top: 30px;
    width: 100%;
    height: 250px;
  }
  main #author-wrapper .author-title {
    width: 100%;
    text-align: center;
  }
  main #author-wrapper .author-title h1 {
    font-size: 4.5vw;
    color: #222858;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  main #author-wrapper .author-content {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
  }
  main #author-wrapper .author-content .author-img {
    width: 35%;
  }
  main #author-wrapper .author-content .author-img img {
    width: 100%;
  }
  main #author-wrapper .author-content .author-text {
    width: 60%;
    text-align: left;
    font-size: 2.2vw;
  }
  footer {
    padding: 30px;
    margin-top: 20px;
  }
  footer .footer-wrapper {
    grid-template-columns: 1fr;
  }
  footer .footer-wrapper .footer-left {
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 30px;
  }
  footer .footer-wrapper .footer-left h3 {
    font-size: 5vw;
  }
  footer .footer-wrapper .footer-left .footer-links {
    margin: 10px 0px 20px 0px;
  }
  footer .footer-wrapper .footer-left .footer-links ul {
    gap: 5px;
  }
  footer .footer-wrapper .footer-left .footer-links ul li a {
    font-size: 2.8vw;
    line-height: 1.8;
  }
  footer .footer-wrapper .footer-left .footer-copyright {
    text-align: center;
    font-size: 2.4vw;
  }
  footer .footer-wrapper .footer-center {
    width: 100%;
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 30px;
  }
  footer .footer-wrapper .footer-center .footer-center-content {
    margin-top: 10px;
    gap: 10px;
    text-align: left;
  }
  footer .footer-wrapper .footer-center .footer-center-content i {
    font-size: 15px;
  }
  footer .footer-wrapper .footer-center .footer-center-content p a {
    font-size: 2.8vw;
  }
  footer .footer-wrapper .footer-right {
    width: 100%;
    margin-top: 25px;
    grid-column: auto;
  }
  footer .footer-wrapper .footer-right .footer-about {
    line-height: 20px;
    text-align: center;
  }
  footer .footer-wrapper .footer-right .footer-about p {
    font-size: 2.6vw;
  }
  footer .footer-wrapper .footer-right .footer-about p span {
    font-size: 4vw;
    margin-bottom: 10px;
  }
  footer .footer-wrapper .footer-right .footer-social ul li a i {
    font-size: 5.5vw;
  }
}
@media screen and (max-width: 350px) {
  main .scroll-to-top {
    right: 12px;
  }
}/*# sourceMappingURL=style.css.map */